<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title>
            <%= htmlWebpackPlugin.options.title%>-SUnion
        </title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav-simple.html') %>
        

        <div class="page-wrap">
            <div class="w">
                <div class="user-con">
                    <div class="user-title">Reset password</div>
                    <div class="user-box">
                        <div class="error-item">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        
                        <div class="step-con step-username">
                            <p class="user-item-text">Please input username :</p>
                            
                            <div class="user-item">
                            <label for="username" class="user-label">
                                <i class="fa fa-user"></i>
                            </label>
                            <input class="user-content" id="username" 
                            placeholder="please input username" autocomplete="off" />
                        </div>
                        <a class="btn btn-submit" id="submit-username">next step</a>
                       

                        </div>


                        <div class="step-con step-question">
                            <p class="user-item-text">your security question is : <span class="question"></span></p>
                            <div class="user-item">
                            <label for="question" class="user-label">
                                <i class="fa fa-key"></i>
                            </label>
                            <input class="user-content" id="answer" 
                            placeholder="please input answer" autocomplete="off" />
                        </div>
                        <a class="btn btn-submit" id="submit-question">next step</a>
                       

                        </div>


                        <div class="step-con step-password">
                            <p class="user-item-text">Please input new password :</p>
                            
                            <div class="user-item">
                            <label for="password" class="user-label">
                                <i class="fa fa-lock"></i>
                            </label>
                            <input type="password" class="user-content" id="password" 
                            placeholder="please input new password" autocomplete="off" />
                        </div>
                        <a class="btn btn-submit" id="submit-password">next step</a>
                       

                        </div>
                        
                        
                        <div class="link-item">
                            <a href="./user-login.html" class="link" target="_blank">Return login >></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
         <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>