<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.google.ca" class="link" target="_blank">Google</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Amazon</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Facebook</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Twitte</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Youtube</a>
        </div>
        <p class="copyright"> © Copyright 2017 Victor cao All Right Reserved</p>
    </div>
</div>


<script type="text/javascript" 
  src="https://code.jquery.com/jquery-1.1.3.pack.js"
  integrity="sha256-10nD2u5qpbofah85bQUTmT1eMFz2FHLDDUo4iVkCS8I="
  crossorigin="anonymous">
      
</script>
