<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.google.ca" class="link" target="_blank">Google</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Amazon</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Facebook</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Twitte</a> |
            <a href="http://www.google.ca" class="link" target="_blank">Youtube</a>
        </div>
        <p class="copyright"> © Copyright 2017 Victor cao All Right Reserved</p>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-1.11.3.min.js"
  integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="
  crossorigin="anonymous"></script>
